.App {
  text-align: center;
}

.sidebar {
  padding-top: 5%;
  width: 80px; /* Adjust the width as needed */
  background-color: #7c92e5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  display: block;
  width: 40px;
  height: 40px;
  margin: 20px 0;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.display{
  width: -webkit-fill-available;
  background-color: #aacdec;
}
.app{
  display: flex;
}
.Mobile{
  background-image: url('./icon/mobile.png');
}
.Laptops{
  background-image: url('./icon/laptop.png');
}
.Mens{
  background-image: url('./icon/mens.jpg');
}
.Womens{
  background-image: url('./icon/women.png');
}
.header{
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
